[submodule "be.iminds.iot.dianne.tensor/jni/THTensor/TH"]
	path = be.iminds.iot.dianne.tensor/jni/THTensor/TH
	url = git@github.ugent.be:e-p/th.git

[submodule "be.iminds.iot.dianne.tensor/jni/THTensor/THC"]
	path = be.iminds.iot.dianne.tensor/jni/THTensor/THC
	url = git@github.ugent.be:e-p/thc.git

[submodule "be.iminds.iot.dianne.rl/jni/ALE/Arcade-Learning-Environment"]
	path = be.iminds.iot.dianne.rl/jni/ALE/Arcade-Learning-Environment
	url = git@github.ugent.be:e-p/Arcade-Learning-Environment.git

[submodule "be.iminds.iot.dianne.tensor/jni/THTensor/OpenBLAS"]
	path = be.iminds.iot.dianne.tensor/jni/THTensor/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
