[submodule "be.iminds.iot.dianne.tensor/jni/THTensor/TH"]
	path = be.iminds.iot.dianne.tensor/jni/THTensor/TH
	url = https://github.com/ibcn-cloudlet/TH.git

[submodule "be.iminds.iot.dianne.rl/jni/ALE/Arcade-Learning-Environment"]
	path = be.iminds.iot.dianne.rl/jni/ALE/Arcade-Learning-Environment
	url = https://github.com/ibcn-cloudlet/Arcade-Learning-Environment.git

[submodule "be.iminds.iot.dianne.tensor/jni/THTensor/OpenBLAS"]
	path = be.iminds.iot.dianne.tensor/jni/THTensor/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
