/*
 * Globals
 */

/* Links */
a, a:focus, a:hover {
	color: #555;
}

/*
 * Base structure
 */
html, body {
	height: 100%;
	background-color: #FFF;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
	float: left;
	margin: 5px 10px;
	height: 4em;
}

/* For side shadow and padding to stay below header/above footer */
.site-wrapper {
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	padding: 180px 0 90px 0;
}

/*
* fix for scrollbars
*/
.container-fluid, #builder, #toolbox, #canvas {
	height: 100%;
}
#toolbox {
	overflow-y: auto;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .3);
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}
#toolbox .mCSB_container {
	padding-top: 10px;
	padding-bottom: 10px;
}
#canvas {
	overflow: auto;
}

/*
* end fix scrollbars
*/


@media ( min-width : 466px) {
	.site-wrapper {
		padding: 144px 0 90px 0;
	}
}
@media ( min-width : 640px) {
	.site-wrapper {
		padding: 128px 0 90px 0;
	}
}
@media ( min-width : 768px) {
	.site-wrapper {
		padding: 112px 0 90px 0;
	}
}
@media ( min-width : 981px) {
	.site-wrapper {
		padding: 72px 0 90px 0;
	}
}

/* Padding for spacing */
.inner {
	padding: 30px;
}

/*
 * Header
 */
.custom-navbar {
	background-color: #E7E7E7;
	-webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .6);
	box-shadow: 0 0 35px rgba(0, 0, 0, .6);
}

.masthead-image {
	float: left;
	margin: 0px 10px 0px 10px;
	width: 75px;
}

.masthead-brand {
	margin: auto 0;
}

.masthead-nav>li {
	display: inline-block;
}

.masthead-nav>li+li {
	margin-left: 20px;
}

.masthead-nav > li > a {
  	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus,
.masthead-nav > li > a.active,
.masthead-nav > li > a.active:hover,
.masthead-nav > li > a.active:focus {
  	background-color: transparent;
  	border-bottom-color: #888;
}

.save-load-nav {
 	padding: 0;
 	float: left;
 	margin-left: 20px;
}
.save-load-nav > li {
  display: inline-block;
  margin: 0 10px;
}
.save-load-nav > li > a {
  color: #888;
}
.save-load-nav > li > a:hover,
.save-load-nav > li > a:focus {
  background-color: transparent;
}

@media ( min-width : 768px) {
	.masthead-brand {
		float: left;
	}
	.masthead-nav {
		float: right;
	}
}

/*
 * Footer
 */
footer {
	color: #555;
	text-align: center;
	-webkit-box-shadow: 0px 0 100px rgba(0, 0, 0, .5);
	box-shadow: 0 0 100px rgba(0, 0, 0, .5);
}

.custom-footer {
	background-color: #E7E7E7;
}

.footer-image {
	float: right;
	margin: 20px 20px 20px 0px;
	height: 50px;
}

/*
 * jsPlumb
 */
.module {
	border: 1px solid #346789;
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	text-align: center;
	z-index: 20;
	background-color: #eee;
	color: black;
	font-family: helvetica;
	padding: 0.5em;
	font-size: 0.9em;
	width: 100px;
	height: 50px;
	margin: 5px 5px 5px 5px;
	display:inline-block;
	overflow: hidden;
}

.inline {
	display: inline-block;
	padding-left: 10%;
}

.toolbox {
	position: relative;
}

.tool {
	margin: 0px;
	padding-left: 10px;
	float: left;
}

.btn-toolbox {
	margin-left: 10px;
	margin-top: 5px;
	width: 40%;
	min-width: 100px;
}

#tags {
	width: 75%;
}

.learn {
	background-color: #adc2ff;	
}

.run {
	background-color: #ffffad;	
}

.module:hover {
	box-shadow: 2px 2px 19px #444;
	-o-box-shadow: 2px 2px 19px #444;
	-webkit-box-shadow: 2px 2px 19px #444;
	-moz-box-shadow: 2px 2px 19px #444;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.jtk-connector {
	z-index: 4;
}

.jtk-endpoint, .endpointTargetLabel, .endpointSourceLabel {
	z-index: 21;
	cursor: pointer;
}

.aLabel {
	background-color: white;
	padding: 0.4em;
	font: 12px sans-serif;
	color: #444;
	z-index: 21;
	border: 1px dotted gray;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	cursor: pointer;
}

.aLabel.jtk-hover {
	background-color: #5C96BC;
	color: white;
	border: 1px solid white;
}

/*
 * Draggable modals
 */
 
.module-modal {
    overflow: hidden;
    display: table;
}

.module-dialog {
    margin: 0;
}

#dialog-save, #dialog-load {
	z-index: 9999;
}

/*
 * Spinner
 */
 #spinnerwrap {
	position: fixed;
	width: 100%;
	height:100%;
	display: flex;
	align-items: center;
	top: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	z-index: 99999;
}
 
.spinner {
  margin: 50px;
  height: 75px;
  width: 75px;
  animation: rotate 0.8s infinite linear;
  border: 8px solid #ddd;
  border-right-color: transparent;
  border-radius: 50%;
  display:flex;
  margin: 0 auto;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

/*
 * Alert
 */
 
#alerts {
	margin-top: 20px;
	position: relative;
	z-index: 999;
} 

/*
 * Collapsing of toolbox groups
 */

#toolbox h3:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    padding-right: 5px;
    font-size: 50%;
}

#toolbox h3.collapsed:before {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
 
 /*
  * Other
  */
  
#name {
	margin-top: 15px;
    text-align: center;
    color: #888;
    font-weight: bold;
} 

.stats {
	width: 100%;
}

.stat {
	display: inline-block;
}

.val {
	float: right;
}

.charsequence {
	width: 550px;
	height: 300px;
	overflow-y: auto;
}