/bin/
/bin_test/
/generated/
/native/
/jni/cudnn/*.o
/jni/cudnn/*.so
/jni/cudnn/symbols
/jni/torch/*.o
/jni/torch/*.so
/jni/torch/*.a
/jni/torch/*_*.h
/jni/torch/*.dylib
/jni/cutorch/*.o
/jni/cutorch/*.so
/jni/cutorch/*.a
/jni/cutorch/*_*.h
/jni/cutorch/*.dylib
!bnd.bnd
*.bnd
